@font-face {
  font-family: 'oswald-bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Oswald-Bold.woff2') format('woff2'),
       url('/fonts/Oswald-Bold.woff') format('woff');
}

@font-face {
  font-family: 'linux-libertine';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/linlibertine_r-webfont.woff2') format('woff2'),
       url('/fonts/linlibertine_r-webfont.woff') format('woff');
}

@font-face {
  font-family: 'linux-libertine-bold';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/linlibertine_rb-webfont.woff2') format('woff2'),
       url('/fonts/linlibertine_rb-webfont.woff') format('woff');
}

@font-face {
  font-family: 'linux-libertine-italic';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/linlibertine_ri-webfont.woff2') format('woff2'),
       url('/fonts/linlibertine_ri-webfont.woff') format('woff');
}

@font-face {
  font-family: 'linux-libertine-bold-italic';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/linlibertine_rbi-webfont.woff2') format('woff2'),
       url('/fonts/linlibertine_rbi-webfont.woff') format('woff');
}